<div class="panel panel-primary">
        <div class="panel-heading">
            {{pageTitle}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">Filter By:</div>
                <div class="col-md-4">
                    <input type="text"
                       [(ngModel)]='listFilter' />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Filtered By: {{listFilter}}</h3>
                </div>
            </div>
           
            <table *ngIf='echart && echart.dayList && echart.dayList.length'>
                <thead>
                    <tr><td>start</td>
                        <td>end</td>                
                        <td *ngFor='let daylist of echart.dayList'>
                                {{daylist.dayText}}
                        </td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
    
            <div class="table-responsive">
                <table class="table" *ngIf='echart && echart.rows && echart.rows.length'>
                    <thead>
                        <tr>
                            <th>
                                <button (click)='toggleImage()' class="btn btn-primary">
                                    {{showImage ? 'Hide' : 'Show'}} Image
                                </button>
                            </th>
                            <th>Student Id</th>
                            <th>Name</th>
                            <th>Available</th>
                            <th>Price</th>
                            <th>5 Star Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let student of echart.rows'>
                            <td>
                                <img *ngIf='showImage' [src]='student.imageUrl'
                                 [title]='student.productName | uppercase'
                                 [style.width.px]='imageWidth'
                                 [style.margin.px]='imageMargin'>
                            </td>
                            <td>{{student.studentId}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.releaseDate}}</td>
                            <td>{{student.price | currency:'USD':true:'1.2-2' }}</td>
                            <td><pm-star [mainText]='student.studentId' [rating]='student.starRating'
                                    (notify)='onNotify($event)'></pm-star></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
        </div>
    
    </div>